<div id="container" class="container">
    <div class="row">
        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <h2>sign up form</h2>
            </div>
        </div>
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <h2>sign in form</h2>
            </div>
            <!-- <div class="form-wrapper">
            </div> -->
        </div>
    </div>



    <div class="row content-row">
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2>
                    Welcome
                </h2>
            </div>

            </div>
            <div class="col align-items-center flex-col">
                <div class="text sign-up">
  
                    <h2>
                        Join with us
                    </h2>

                </div>
            </div>
        </div>
    </div>