<div class="container" id="container">
    <div class="row">
        <div class="col align-item-center flex-col register2">
            <div class=" form-wrapper align-item-center ">
                <form [formGroup]="registerTwo" (ngSubmit)="register()" class="form register2">
                    <div class="input-group">
                      <img src="../../../assets/images/icons/user-solid.svg" alt="" id="user-icon">
                      <input type="text" placeholder=" Your Name" formControlName="name" />
                      <div style="color: red;" *ngIf="this.registerTwo.get('name').invalid && (this.registerTwo.get('name').dirty )">Name is  required and minimum 2 character !!!!</div>
                    </div>
                    <div class="input-group">
                      <img src="../../../assets/images/icons/user-group-solid.svg" alt="" id="user-icon" >
                      <input type="text" placeholder=" Your Surname" formControlName="surname"  />
                      <div style="color: red;" *ngIf="this.registerTwo.get('surname').invalid && (this.registerTwo.get('surname').dirty)">Surname is  required and minimum 2 character !!!!</div>
                    </div>
                    <div class="input-group">
                      <img src="../../../assets/images/icons/envelope-solid.svg" alt="" id="user-icon">
                      <input type="email" placeholder=" Your Email" formControlName="email" />
                      <div style="color: red;" *ngIf="this.registerTwo.get('email').invalid && (this.registerTwo.get('email').dirty || this.registerTwo.get('email').touched)">Email is  required and email !!!!</div>
                    </div>
                    <div class="input-group">
                      <img src="../../../assets/images/icons/key.png" alt="" id="user-icon">
                      <input type="password" placeholder="Password" formControlName="password" />
                      <div style="color: red;"  *ngIf="this.registerTwo.get('password').invalid && (this.registerTwo.get('password').dirty)">Password is minimum 8 character !!!!</div>
                    </div>
                    <div class="input-group">
                      <img src="../../../assets/images/icons/repeat-solid.svg" alt="" id="user-icon">
                      <input type="password" placeholder="Confirm password" formControlName="confirmPassword" />
                      <div style="color: red;" *ngIf="this.registerTwo.get('confirmPassword').hasError('notEquivalent')">
                        The two passwords aren't the same
                      </div>
                    </div>
                    <button  [disabled]="this.registerTwo.invalid" [ngClass]="this.registerTwo.invalid?'disable-button':''">Sign up</button>
                    <p>
                      <b (click)="toggle()" class="pointer" style="text-decoration: underline; font-size: 1.2em;"> Prev Page </b>
                    </p>
                  </form>
            </div>
        </div>
        <div class="col align-item-center flex-col register1">
            <div class="align-item-center form-wrapper">
                <form [formGroup]="registerOne" (ngSubmit)="toggle()" class="form register1">
                    <div class="input-group" style="margin-bottom:10px;text-align: left">
                        <i class="fa fa-building" aria-hidden="true"></i>
                      <label for="companyName" style="font-style: italic; padding-left: 10px;"><b>Company Name :</b> </label>
                      <input type="text"  id="companyName" name="companyName" placeholder="Your Company Name" formControlName="companyName"/>
                      <div style="color: red;" *ngIf="this.registerOne.get('companyName').invalid && this.registerOne.get('companyName').dirty">Company name  is  required !!!!</div>  
                    </div>
                    <div class="input-group"  style="margin-bottom:10px;text-align: left">
                    <label for="companyType" style="font-style: italic; padding-left: 10px;"><b>Company Busines Portfolio :</b> </label>
                    <i class="fa fa-briefcase" aria-hidden="true" style="left: 0em;" ></i>
                      <select  formControlName="companyType">
                        <option *ngFor="let companyType of companyTypes" [value]="companyType.id" style="font-weight: bold;text-align: justify"  >
                          <strong>
                            {{companyType.name}}
                          </strong>
                        </option>
                      </select>
                      <div style="color: red;" *ngIf="this.registerOne.get('companyType').invalid && this.registerOne.get('companyType').touched">Company Busines Portfolio  is  required !!!!</div>  
                    </div>
                    <div class="input-group" style="margin-bottom:10px;text-align: left">
                      <label for="shopType" style="font-style: italic; padding-left: 10px;"><b> Main Shop Business Type :</b> </label>
                      <i class="fa fa-shopping-bag" aria-hidden="true"style="left: 0em;" ></i>
                      <select formControlName="shopBusinessType">
                        <option *ngFor="let shopBusinessType of shopBusinessTypes" [value]="shopBusinessType.id"  style="font-weight: bold;text-align: justify" >
                          <b>
                            {{shopBusinessType.name}}
                          </b>
                        </option>
                      </select>
                      <div style="color: red;" *ngIf="this.registerOne.get('shopBusinessType').invalid && this.registerOne.get('shopBusinessType').touched">Shop Business Type   is  required !!!!</div>  
                    </div>
                    <button type="submit" [disabled]="registerOne.invalid" [ngClass]="this.registerOne.invalid?'disable-button':''">Go To Next Page</button>
                    <p style="position: relative;">
                      <b class="pointer go-home">
                        <a href="http://localhost:4201" style="color: black;" > Home Page here</a>
                      </b>
                      <b routerLink="/auth/login" class="pointer go-login" >
                          Login Page here 
                      </b>
                  </p>
                  <div style="height:10px ;"></div>
                  </form>
            </div>
        </div>

    </div>

    <div class="row content-row">
        <div class="col align-item-center flex-col register1">
            <div class="text register1">
                <h2>Saletonin</h2>
                <h3>Welcome To Saletonin</h3>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, error aliquam ea facilis voluptate
                    reiciendis hic blanditiis illo dicta iste optio quis enim id soluta cumque pariatur excepturi
                    laboriosam impedit cum suscipit esse accusantium quas odio. A numquam ut quam corrupti ex,
                    perspiciatis vel. Itaque temporibus quo provident ad magni quia porro optio illo nesciunt aperiam
                    facilis, molestias soluta similique architecto ipsa magnam veritatis adipisci dolorem aspernatur
                    cumque, dolor suscipit? Similique esse nulla omnis eveniet.</h4>
                <img src="../../../assets/images/logo/saletonin_logo_white.png" alt="logo">
                <div class="avatar">
                    <img src="../../../assets/images/avatar/female-11.jpg" alt="1" style="right: 24em;">
                    <img src="../../../assets/images/avatar/female-18.jpg" alt="2" style="right: 22em;">
                    <img src="../../../assets/images/avatar/male-09.jpg" alt="3" style="right: 20em;">
                    <img src="../../../assets/images/avatar/male-16.jpg" alt="4" style="right: 18em;">
                </div>
                <p>More than 25 company joined us,its your turn</p>
            </div>
        </div>
        <div class="col align-item-center flex-col register2">
            <div class="text register2">
                <h2>Saletonin</h2>
                <h3>Refresh Your Password on Saletonin</h3>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, error aliquam ea facilis voluptate
                    reiciendis hic blanditiis illo dicta iste optio quis enim id soluta cumque pariatur excepturi
                    laboriosam impedit cum suscipit esse accusantium quas odio. A numquam ut quam corrupti ex,
                    perspiciatis vel. Itaque temporibus quo provident ad magni quia porro optio illo nesciunt aperiam
                    facilis, molestias soluta similique architecto ipsa magnam veritatis adipisci dolorem aspernatur
                    cumque, dolor suscipit? Similique esse nulla omnis eveniet.</h4>
                <img src="../../../assets/images/logo/saletonin_logo_white.png" alt="logo">
                <div class="avatar">
                    <img src="../../../assets/images/avatar/female-11.jpg" alt="1" style="right: 13.5em;">
                    <img src="../../../assets/images/avatar/female-18.jpg" alt="2" style="right: 11.5em;">
                    <img src="../../../assets/images/avatar/male-09.jpg" alt="3" style="right: 9.5em;">
                    <img src="../../../assets/images/avatar/male-16.jpg" alt="4" style="right: 7.5em;">
                </div>
                <p>More than 25 company joined us,its your turn</p>

            </div>
        </div>
    </div>

</div>