.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    /* background-color: lightseagreen; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.content-row {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 6;
    width: 100%;

}

.col {
    width: 50%;
}

.flex-col {
    flex-direction: column;
}

.align-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    width: 100%;
    max-width: 28rem;
}

.text {
    margin: 9rem;
    color: white;
}

.form {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(0);
    transition: .5s ease-in-out;
    transition-delay: 1s;
}

.input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.disable-button {
    opacity: 0.5;
}
.form.register1 .input-group i {
    color: black;
    background-color: #efefef; 
    position: absolute; 
    left: 0.2em;
    top: 0.5em; 
    font-size: 43px; 
    border-radius: 5px;
    border :2.5px solid #efefef
}

.form.register1 p .pointer.go-home{
    position: absolute; 
    left: 2.5em; 
    top: -0.5em; 
    font-size: 1.2em; 
    text-decoration: underline;
}
.form.register1 p .pointer.go-login{
    position: absolute; 
    right: 2.5em; 
    top: -0.5em; 
    font-size: 1.2em; 
    text-decoration: underline;
}
.form.register2 .input-group i {
    color: black;
    background-color: #efefef; 
    position: absolute; 
    top: 0.05em;
    left : 0.05em;
    font-size: 43px; 
    border-radius: 5px;
    border :2.5px solid #efefef
}

.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: #efefef;
    border-radius: .5rem;
    border: 0.125rem solid #ffffff;
    outline: none;
    text-align: center;
}

.input-group input:focus {
    border: 0.125rem solid black;
}

.form button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: black;
    color: #ffffff;
    font-size: 1.2rem;
    outline: none;
}

.form p {
    margin: 1rem 0;
    font-size: .7rem;
}

.pointer {
    cursor: pointer;
}

/* text register1 divinin altindaki h2,h3,avatars,p,ve logolarin cssleri  */
.text.register1 {
    position: fixed;
}

.text.register1 img {
    position: absolute;
    height: 240px;
    width: 300px;
    bottom: 12em;
    right: 1em;
}

.text.register1 h2 {
    position: absolute;
    font-family: 'Nanum Pen Script', cursive;
    font-style: italic;
    font-size: 60px;
    right: 0.5em;
    bottom: 1.75em;
}

.text.register1 h3 {
    position: absolute;
    font-size: 35px;
    width: 10em;
    bottom: 1.5em;
    right: -0.5em;
}

.text.register1 h4 {
    position: absolute;
    width: 40em;
    left: -27em;
    top: -2em;
    text-align: justify;
    letter-spacing: 1px;
}
.text.register1 p {
    position: absolute;
    width: 25em;
    top: 7.5em;
    right: -6.5em;
    font-size: 18px;
}
.text.register1 .avatar img{
    position: absolute;
    border: 3px solid white;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    top: 7.5em;
    
}

/* text gforgot password divinin altindaki h2,h3,avatars,p,ve logolarin cssleri  */
.text.register2 img {
    position: absolute;
    height: 240px;
    width: 300px;
    bottom: 30em;
    right: 18.5em;
}

.text.register2 h2 {
    position: absolute;
    font-family: 'Nanum Pen Script', cursive;
    font-style: italic;
    font-size: 60px;
    right: 5.2em;
    /* bottom: 1.75em; */
}

.text.register2 h3 {
    position: absolute;
    font-size: 35px;
    width: 16em;
    bottom: 10em;
    right: 5em;
}

.text.register2 h4 {
    position: absolute;
    width: 40em;
    left: 73em;
    top: 39em;
    text-align: justify;
    letter-spacing: 1px;
}

.text.register2 .avatar img{
    position: absolute;
    border: 3px solid white;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    top: 18em;

}

.text.register2 p {
    position: absolute;
    width: 25em;
    top: 43.5em;
    right: 11.2em;
    font-size: 18px;
}
/* icons  */

#user-icon {
    position: absolute;
    height: 40px;
    /* font-size: 40px; */
    top: 7px;
    left: 7px;
}

input[type='checkbox'] {
    accent-color: black;
}

.input-group select {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: #efefef;
    border-radius: .5rem;
    border: 0.125rem solid #ffffff;
    outline: none;
  }

/* animation */
.container.register1 .form.register1,
.container.register1 .social-list.register1,
.container.register1 .social-list.register1>div,
.container.register2 .form.register2,
.container.register2 .social-list.register2,
.container.register2 .social-list.register2>div {
    transform: scale(1);
}

.text.register1 * {
    transform: translateX(-400%);
}

.text.register2 * {
    transform: translateX(1500%);
}

.container.register1 .text.register1 *,
.container.register2 .text.register2 * {
    transform: translateX(0);
}

/* Background Actions */
.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300vw;
    transform: translate(35%, 0);
    background-image: url('../../../assets/images/backgrounds/tB4MLH.jpg');
    transition: 1s ease-in-out;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border-bottom-right-radius: max(50vw, 50vh); */
    /* border-top-left-radius: max(50vw, 50vh); */
    
}

.container.register1::before {
    transform: translate(0, 0);
    right: 50%;
}

.container.register2::before {
    transform: translate(100%, 0);
    right: 50%;
}

/* RESPONSIVE */

@media only screen and (max-width: 425px) {

    .container::before,
    .container.sign-in::before,
    .container.sign-up::before {
        height: 100vh;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 0;
        transform: none;
        right: 0;
    }

    /* .container.sign-in .col.sign-up {
        transform: translateY(100%);
    } */

    .container.sign-in .col.sign-in,
    .container.sign-up .col.sign-up {
        transform: translateY(0);
    }

    .content-row {
        align-items: flex-start !important;
    }

    .content-row .col {
        transform: translateY(0);
        background-color: unset;
    }

    .col {
        width: 100%;
        position: absolute;
        padding: 2rem;
        background-color: var(--white);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        transform: translateY(100%);
        transition: 1s ease-in-out;
    }

    .row {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .form,
    .social-list {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .text {
        margin: 0;
    }

    .text p {
        display: none;
    }

    .text h2 {
        margin: .5rem;
        font-size: 2rem;
    }
}

