<div class="container register2" id="container">
    <div class="row">
        <div class="col align-item-center flex-col register2">
            <div class=" form-wrapper align-item-center ">
                <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()" class="form register2">
                    <div class="input-group">
                      <img src="../../../assets/images/icons/key.png" alt="" id="user-icon">
                      <input type="password" placeholder="Password" formControlName="password" />
                      <div style="color: red;"  *ngIf="this.newPasswordForm.get('password').invalid && (this.newPasswordForm.get('password').dirty)">Password is minimum 8 character !!!!</div>
                    </div>
                    <div class="input-group">
                      <img src="../../../assets/images/icons/repeat-solid.svg" alt="" id="user-icon">
                      <input type="password" placeholder="Confirm password" formControlName="confirmPassword" />
                      <div style="color: red;" *ngIf="this.newPasswordForm.get('confirmPassword').hasError('notEquivalent')">
                        The two passwords aren't the same
                      </div>
                    </div>
                    <button  [disabled]="this.newPasswordForm.invalid" [ngClass]="this.newPasswordForm.invalid?'disable-button':''">Sign up</button>
                    <!-- <p>
                      <b (click)="toggle()" class="pointer" style="text-decoration: underline; font-size: 1.2em;"> Prev Page </b>
                    </p> -->
                  </form>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col align-item-center flex-col register2">
            <div class="text register2">
                <h2>Saletonin</h2>
                <h3>Refresh Your Password on Saletonin</h3>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, error aliquam ea facilis voluptate
                    reiciendis hic blanditiis illo dicta iste optio quis enim id soluta cumque pariatur excepturi
                    laboriosam impedit cum suscipit esse accusantium quas odio. A numquam ut quam corrupti ex,
                    perspiciatis vel. Itaque temporibus quo provident ad magni quia porro optio illo nesciunt aperiam
                    facilis, molestias soluta similique architecto ipsa magnam veritatis adipisci dolorem aspernatur
                    cumque, dolor suscipit? Similique esse nulla omnis eveniet.</h4>
                <img src="../../../assets/images/logo/saletonin_logo_white.png" alt="logo">
                <div class="avatar">
                    <img src="../../../assets/images/avatar/female-11.jpg" alt="1" style="right: 13.5em;">
                    <img src="../../../assets/images/avatar/female-18.jpg" alt="2" style="right: 11.5em;">
                    <img src="../../../assets/images/avatar/male-09.jpg" alt="3" style="right: 9.5em;">
                    <img src="../../../assets/images/avatar/male-16.jpg" alt="4" style="right: 7.5em;">
                </div>
                <p>More than 25 company joined us,its your turn</p>

            </div>
        </div>
    </div>

</div>