<div class="container">
    <div class="form-new-password ">
        <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()" class="forum">
            <h1>Alma</h1>
            <!-- <div class="input-group">
                <img src="../../../assets/images/icons/key.png" alt="" id="user-icon">
                <input type="password" placeholder="Password" formControlName="password" />
                <div style="color: red;"  *ngIf="this.newPasswordForm.get('password').invalid && (this.newPasswordForm.get('password').dirty)">Password is minimum 8 character !!!!</div>
              </div> -->
              <!-- <div class="input-group">
                <img src="../../../assets/images/icons/repeat-solid.svg" alt="" id="user-icon">
                <input type="password" placeholder="Confirm password" formControlName="confirmPassword" />
                <div style="color: red;" *ngIf="this.newPasswordForm.get('confirmPassword').hasError('notEquivalent')">
                  The two passwords aren't the same
                </div>
              </div> -->

            <!-- <button type="submit"  [disabled]="this.forgotPasswordForm" [ngClass]="this.forgotPasswordForm.invalid?'disable-button':''">
                Send Email
            </button> -->

            <!-- <p>
                <span>
                    
                </span>
                <b (click)="toggle()" class="pointer" style="text-decoration: underline; font-size: 1.2em;">
                    Sign in
                </b>
            </p> -->
        </form>
    </div>
    <div class="content">
        <img src="../../../assets/images/logo/saletonin_logo_white.png" alt="logo" style="    height: 240px; width: 300px; position: absolute; left: 20em;top: 7.5em;">
        <h2 style="color: white;     position: absolute; font-family: 'Nanum Pen Script', cursive; font-style: italic;font-size: 60px; left:6em ; top:6em ;">Saletonin</h2>
        <h3 style="color: white;     position: absolute;font-size: 35px; width: 10em; top: 13em; left:9em ;">Welcome To Saletonin</h3>
        <h4 style="color: white;     position: absolute; width: 40em; text-align: justify;  letter-spacing: 1px; left:10em ;top:32em ;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, error aliquam ea facilis voluptate
            reiciendis hic blanditiis illo dicta iste optio quis enim id soluta cumque pariatur excepturi
            laboriosam impedit cum suscipit esse accusantium quas odio. A numquam ut quam corrupti ex,
            perspiciatis vel. Itaque temporibus quo provident ad magni quia porro optio illo nesciunt aperiam
            facilis, molestias soluta similique architecto ipsa magnam veritatis adipisci dolorem aspernatur
            cumque, dolor suscipit? Similique esse nulla omnis eveniet.</h4>
            <div class="avatar">
                <img src="../../../assets/images/avatar/female-11.jpg" alt="1" style="left: 11em;">
                <img src="../../../assets/images/avatar/female-18.jpg" alt="2" style="left: 13em;" >
                <img src="../../../assets/images/avatar/male-09.jpg" alt="3"  style="left: 15em;">
                <img src="../../../assets/images/avatar/male-16.jpg" alt="4" style="left: 17em;" >
            </div>
            <p style="color: white; position: absolute; width: 25em;font-size: 18px;top: 38em; left:18.5em ;" >More than 25 company joined us,its your turn</p>
    </div>
</div>