.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    /* flex-direction: row; */
}

.form-new-password {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    height: 100vh;
    /* height: 100%; */
    width: 50vw;
    /* width: 100%; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* transform: scale(0);
    transition: .5s ease-in-out;
    transition-delay: 1s; */
}

.content {
    height: 100vh;
    width: 50vw;
    flex-grow: 1;
    background-image: url('../../../assets/images/backgrounds/tB4MLH.jpg');
    background-size: cover;
    position: relative;
}

.content .avatar img {
    position: absolute;
    border: 3px solid white;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    top: 42em;
}

.align-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.forum {
    padding: 1rem;
    background-color: black;
    border-radius: 1.5rem;
    width: 100%;
    
    
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(0);
    transition: .5s ease-in-out;
    transition-delay: 1s; */
}

.input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}