<div class="container" id="container">
    <div class="row">
        <div class="col align-item-center flex-col forgot-password">
            <div class=" form-wrapper align-item-center ">


                <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="form forgot-password">
                    <div class="input-group">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="email" placeholder="Email" formControlName="email">
                        <div style="color: red;" *ngIf="this.forgotPasswordForm.get('email').invalid && (this.forgotPasswordForm.get('email').dirty || this.forgotPasswordForm.get('email').touched)">This input is  required and email !!!!</div>
                    </div>
                    <button type="submit"  [disabled]="this.forgotPasswordForm" [ngClass]="this.forgotPasswordForm.invalid?'disable-button':''">
                        Send Email
                    </button>
                    <p>
                        <!-- <span>
                            
                        </span> -->
                        <b (click)="toggle()" class="pointer" style="text-decoration: underline; font-size: 1.2em;">
                            Sign in
                        </b>
                    </p>
                </form>


            </div>
        </div>
        <div class="col align-item-center flex-col login">
            <div class="align-item-center form-wrapper">


                <form [formGroup]="loginForm" (ngSubmit)="login()" class="form login">
                    <div class="input-group">
                        <img src="../../../assets/images/icons/user-solid.svg" alt="" id="user-icon">
                        <input type="email" placeholder="Email" formControlName="email">
                        <div style="color: red;" *ngIf="this.loginForm.get('email').invalid && (this.loginForm.get('email').dirty || this.loginForm.get('email').touched)">This input is  required and email !!!!</div>
                    </div>
                    <div class="input-group">

                        <img src="../../../assets/images/icons/key.png" alt="" id="user-icon">
                        <input [type]="this.changeType?'password':'text'" placeholder="Password" formControlName="password">
                        
                        <span class="eyeIcon" (click)="viewPass()" style="position: relative;">
                            <i  [ngClass]="this.visible?'fa fa-eye':'fa fa-eye-slash'" ></i>
                        </span>
                        <div style="color: red;"  *ngIf="this.loginForm.get('password').invalid && (this.loginForm.get('password').dirty || this.loginForm.get('password').touched)">Password is minimum 8 character !!!!</div>
                    </div>
                    <div style="text-align: left; padding-left: 5px; padding-bottom: 5px;"  >
                        <input id="remember-me" type="checkbox"   formControlName="rememberMe" >
                        <label for="rememberMe"  style="margin-left:10px ;" > <strong> <i>Remember Me</i> </strong> </label>
                    </div>
                    <button type="submit"  [disabled]="this.loginForm.invalid" [ngClass]="this.loginForm.invalid?'disable-button':''">
                        Sign In
                    </button>
                    <p style="position: relative;">
                        <!-- <span>
                            Already have an account?
                        </span> -->
                        <b routerLink="/auth/register" class="pointer go-sign-up" >
                            Sign up here
                        </b>
                        <b (click)="toggle()" class="pointer go-forgot-password" >
                            Forgot password here
                        </b>
                    </p>
                    <div style="height:10px ;"></div>
                </form>


            </div>
        </div>

    </div>

    <div class="row content-row">
        <div class="col align-item-center flex-col login">
            <div class="text login">
                <h2>Saletonin</h2>
                <h3>Welcome To Saletonin</h3>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, error aliquam ea facilis voluptate
                    reiciendis hic blanditiis illo dicta iste optio quis enim id soluta cumque pariatur excepturi
                    laboriosam impedit cum suscipit esse accusantium quas odio. A numquam ut quam corrupti ex,
                    perspiciatis vel. Itaque temporibus quo provident ad magni quia porro optio illo nesciunt aperiam
                    facilis, molestias soluta similique architecto ipsa magnam veritatis adipisci dolorem aspernatur
                    cumque, dolor suscipit? Similique esse nulla omnis eveniet.</h4>
                <img src="../../../assets/images/logo/saletonin_logo_white.png" alt="logo">
                <div class="avatar">
                    <img src="../../../assets/images/avatar/female-11.jpg" alt="1" style="right: 24em;">
                    <img src="../../../assets/images/avatar/female-18.jpg" alt="2" style="right: 22em;">
                    <img src="../../../assets/images/avatar/male-09.jpg" alt="3" style="right: 20em;">
                    <img src="../../../assets/images/avatar/male-16.jpg" alt="4" style="right: 18em;">
                </div>
                <p>More than 25 company joined us,its your turn</p>
            </div>
        </div>
        <div class="col align-item-center flex-col forgot-password">
            <div class="text forgot-password">
                <h2>Saletonin</h2>
                <h3>Refresh Your Password on Saletonin</h3>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, error aliquam ea facilis voluptate
                    reiciendis hic blanditiis illo dicta iste optio quis enim id soluta cumque pariatur excepturi
                    laboriosam impedit cum suscipit esse accusantium quas odio. A numquam ut quam corrupti ex,
                    perspiciatis vel. Itaque temporibus quo provident ad magni quia porro optio illo nesciunt aperiam
                    facilis, molestias soluta similique architecto ipsa magnam veritatis adipisci dolorem aspernatur
                    cumque, dolor suscipit? Similique esse nulla omnis eveniet.</h4>
                <img src="../../../assets/images/logo/saletonin_logo_white.png" alt="logo">
                <div class="avatar">
                    <img src="../../../assets/images/avatar/female-11.jpg" alt="1" style="right: 13.5em;">
                    <img src="../../../assets/images/avatar/female-18.jpg" alt="2" style="right: 11.5em;">
                    <img src="../../../assets/images/avatar/male-09.jpg" alt="3" style="right: 9.5em;">
                    <img src="../../../assets/images/avatar/male-16.jpg" alt="4" style="right: 7.5em;">
                </div>
                <p>More than 25 company joined us,its your turn</p>

            </div>
        </div>
    </div>

</div>