* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100vh;
    overflow: hidden;
}

/* global istifade olunan rengler ve font aileleri global variable kimi declarate olunmalidir  */